body { 
  background: url(../img/caps_on_boards2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#page-wrapper{
	width:75%;
	height:1000px;
	margin: 0 auto;
	background-color: #ccc;
	opacity: .94;
}